.number_box {
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
  font: 32px/100px Roboto;
}

.number_box-position_x_0 {
  left: 0;
}

.number_box-position_x_1 {
  left: 100px;
}

.number_box-position_x_2 {
  left: 200px;
}

.number_box-position_x_3 {
  left: 300px;
}

.number_box-position_y_0 {
  top: 0;
}

.number_box-position_y_1 {
  top: 100px;
}

.number_box-position_y_2 {
  top: 200px;
}

.number_box-position_y_3 {
  top: 300px;
}

.number_box-degree_1 {
  background-color: #F0F4C3;
}

.number_box-degree_2 {
  background-color: #E6EE9C;
}

.number_box-degree_3 {
  background-color: #DCE775;
}

.number_box-degree_4 {
  background-color: #D4E157;
}

.number_box-degree_5 {
  background-color: #FFEB3B;
}

.number_box-degree_6 {
  background-color: #FDD835;
}

.number_box-degree_7 {
  background-color: #FFCA28;
}

.number_box-degree_8 {
  background-color: #FBC02D;
}

.number_box-degree_9 {
  background-color: #FFB74D;
}

.number_box-degree_10 {
  background-color: #FFA726;
}

.number_box-degree_11 {
  background-color: #FF9800;
}

.number_box-degree_12 {
  background-color: #FB8C00;
}

.number_box-degree_13 {
  background-color: #F57C00;
}

.number_box-degree_14 {
  background-color: #EF6C00;
}

.number_box-degree_15 {
  background-color: #E65100;
}

.number_box-degree_16 {
  background-color: #BF360C;
}
